<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau D'administration - {{title}}</title>

    {% include('sicm/includes/main_styles.html') %}

</head>

<body>
    
    {% include('sicm/sections/_header.html') %}

    <main class="main">

        <div class="main__header">
            <h2 class="main__header__title">
                {{ page_title.title() }}
            </h2>
            <nav class="main__header__breadcumb">
               {% include "sicm/sections/breadcumb.html" %}
            </nav>
        </div>

        <div class="main__actions_menu">

            <div class="primary_actions">
                {% include "sicm/sections/primary_actions.html" %}
            </div>

            <div class="secondary_actions">
                {% include "sicm/sections/secondary_actions.html" %}
            </div>

        </div>

        <div class="main__body">

            <div class="main__body__content">

                {% block main_body  %}
                {% endblock %}

            </div>


            <div class="main__body__sidenav">

                {% block sidenav_content %}
                
                    <div class="info_table">
                        {% for key in details %}
                            <div class="info_table__row">
                                <div class="info_table__row__title">{{ ' '.join(key.split('_')).title() }}</div>
                                <div class="info_table__row__value">{{details[key]}}</div>
                            </div>
                        {% endfor %}
                    </div>

                {% endblock %}

            </div>

        </div>


    </main>

    <footer class="footer">
        Copyright &copy; Institut Universitaire des Technologies - DOUALA, Tous droits réservés.
    </footer>

    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>

</body>

</html>