{% extends "sicm/_layout.html" %}

{% from 'sicm/macros/utils.html' import generate_table_head %}
{% from 'sicm/macros/utils.html' import generate_table_body %}

{% block main_body %}

    <div class="collapsable" id="newForm">
        <form action="" class="form form--inline" method="POST">
            <div class="form__control">
                <label for="matricule">Matricule</label>
                <input type="text" name="matricule" id="matricule">
            </div>
            <div class="form__control">
                <label for="first_name">Prenom</label>
                <input type="text" name="first_name" id="first_name">
            </div>
            <div class="form__control">
                <label for="last_name">Nom</label>
                <input type="text" name="last_name" id="last_name">
            </div>
            <div class="form__control">
                <button class="button button--primary">Soumettre</button>
            </div>
        </form>
    </div>

    <table class="datatable" id="dataTable" cellspacing="0">
        
        <thead>
            {% if data[0] %}
                <tr>
                    {{ generate_table_head(data[0]) }}
                </tr>
            {% endif %}
        </thead>

        <tbody>
            <!--  options = [[0:url to action, 1:the icon to display]]  -->
            {{ generate_table_body(data, withOptions=True, options=[['delete_employee', 'minus-circle']]) }}

        </tbody>
    </table>

    <!-- {% include "sicm/sections/pagination.html" %} -->

{% endblock %}