{% extends "sicm/_layout.html" %}

{% from 'sicm/macros/utils.html' import generate_table_head %}
{% from 'sicm/macros/utils.html' import generate_table_body %}

{% block main_body %}

    <table class="datatable" id="dataTable" cellspacing="0">

        <thead>
            {% if data[0] %}
                <tr>
                    {{ generate_table_head(data[0]) }}
                </tr>
            {% endif %}
        </thead>

        <tbody>

            {{ generate_table_body(data) }}

        </tbody>
    </table>

    <!-- {% include "sicm/sections/pagination.html" %} -->

{% endblock %}
