<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SICM - Se Connecter</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/icons/icofont.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.min.css')}}">
</head>

<body>

    <header class="header">
        <h1>SICM</h1>
    </header>

    <div class="main_box_wrapper">

        <div class="main_box">
            <h2>Se Connecter</h2>
            <form action="{{url_for('login')}}" method="POST" class="form" autocomplete="off">

                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert--{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="form__control">
                    <label for="username" class="icon icofont-ui-user"></label>
                    <input type="text" id="username" name="username" placeholder="nom d'utilisateur">
                </div>

                <div class="form__control">
                    <label for="password" class="icon icofont-key"></label>
                    <input type="password" id="password" name="password" placeholder="password">
                </div>

                <div class="form__checkbox">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Rester connecte</label>
                </div>

                <button class="button">
                    Se Connecter
                </button>

            </form>
        </div>

    </div>

    <footer class="footer">
        <a>Mot de passe oublie ?</a>
        <div class="credit">
            Emile DJIDA &copy; Institut Universitaire des Technologies - DOUALA, Tous droits réservés.
        </div>
    </footer>

</body>

</html>