<table class="calendar">
    <tr class="month">
        <td class="clickable">
            <i class="icofont-rounded-down"></i>
        </td>
        <td class="clickable" data-montdindex="1" data-year="2021" colspan="5">January 2021</td>
        <td class="clickable">
            <i class="icofont-rounded-down"></i>
        </td>
    </tr>
    <tr class="days">
        <td data-dayindex="0">Lun</td>
        <td data-dayindex="1">Mar</td>
        <td data-dayindex="2">Mer</td>
        <td data-dayindex="3">Jeu</td>
        <td data-dayindex="4">Ven</td>
        <td data-dayindex="5">Sam</td>
        <td data-dayindex="6">Dim</td>
    </tr>
    <tr class="dayscol">
        <td class="day_index" data-monthdayindex=""></td>
        <td class="day_index" data-monthdayindex=""></td>
        <td class="day_index clickable" data-monthdayindex="1">1</td>
        <td class="day_index clickable" data-monthdayindex="1">2</td>
        <td class="day_index clickable" data-monthdayindex="1">3</td>
        <td class="day_index clickable" data-monthdayindex="1">4</td>
        <td class="day_index clickable" data-monthdayindex="1">5</td>
    </tr>
    <tr class="dayscol">
        <td class="day_index clickable" data-monthdayindex="1">6</td>
        <td class="day_index clickable" data-monthdayindex="1">7</td>
        <td class="day_index clickable" data-monthdayindex="1">8</td>
        <td class="day_index clickable" data-monthdayindex="1">9</td>
        <td class="day_index clickable" data-monthdayindex="1">10</td>
        <td class="day_index clickable" data-monthdayindex="1">11</td>
        <td class="day_index clickable" data-monthdayindex="1">12</td>
    </tr>
</table>