<ul class="pagination">
    <li class="page_wrapper"><a class="page_action page_action--disabled">Previous</a></li>
    <li class="page_wrapper"><a href="#" class="page_link page_link--active">1</a></li>
    <li class="page_wrapper"><a href="#" class="page_link">2</a></li>
    <li class="page_wrapper"><a href="#" class="page_link">3</a></li>
    <li class="page_wrapper"><a href="#" class="page_link">4</a></li>
    <li class="page_wrapper"><a href="#" class="page_link">5</a></li>
    <li class="page_wrapper"><a href="#" class="page_action">Next</a></li>
</ul>